@use "styles" as *;

.sortInputCnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.durationSort {
  gap: 5px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;
}

.sortIcon {
  cursor: pointer;
  position: relative;
  top: 1px;
  transform: scaleX(0.8) scaleY(0.8);
  * {
    path {
      stroke: white;
    }
  }
}

.dropdownItem {
  display: flex;
  * {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.dropdownIcon {
  * {
    width: 16px;
    height: 16px;
  }
}

.descending {
  position: relative;
  rotate: 180deg;
  left: -8px;
}

@media screen and (max-width: 500px) {
  .input::placeholder {
    font-size: 10px;
    padding: 0;
  }
}

.sortInputSkeleton {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-betweens;
}
