@use "styles" as *;

.dntViewCnt {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98svw;
  background-color: $color-black;
  height: fit-content;
  padding-bottom: 120px;
  gap: 20px;
}

.titleTipCnt {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.title {
  font-size: 60px;
  color: $color-grey-font;
  letter-spacing: -1px;
}

.tip {
  color: $color-grey-font;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.columnsContainer {
  min-width: 200px;
  min-height: 200px;
  background-color: aliceblue;
}

.input {
  width: 500px;
}

.tableCnt {
  min-height: 70svh;
  z-index: 20;
  width: 80%;
}

.imgCnt {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 400px;
  top: 200px;
  left: 10px;
}

@keyframes moveUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.imgCnt {
  animation: moveUpAndDown 5s infinite ease-in-out;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 36px;
  }

  .imgCnt {
    width: 300px;
    height: 300px;
    left: -5svw;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .tip {
    font-size: 16px;
  }

  .imgCnt {
    left: -16svw;
  }
}

@media screen and (max-width: 600px) {
  .imgCnt {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 24px;
  }

  .tip {
    font-size: 14px;
  }
}
