@use "styles" as *;

.soundCnt {
  position: relative;
  transition: transform 0.5s ease;
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.slider {
  width: 100%;
}

.iconStateCnt {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  background-color: $color-white;
  border-radius: 16px;
  cursor: pointer;
}

.sliderDurationCnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.durationCnt {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.name {
  user-select: none;
  color: $color-grey-font;
  font-size: 14px;
}

.isCurrent {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.nameDownloadCnt {
  position: relative;
  display: flex;
  gap: 20px;
}

.download {
  position: absolute;
  right: 0;
  top: -5px;
  cursor: pointer;
}

.icon {
  * {
    fill: rgb(152, 222, 46);
    fill-opacity: 1;
  }
  width: 17px;
  height: 24px;
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 10px;
  }
  .slider {
    max-width: 100%;
  }
  .sliderDurationCnt {
    overflow: hidden;
  }
}
